.footer {
  border-top: 2px solid rgba(0,0,0,.15);
  background-color: rgba(214,189,255,.4);
  padding: 15px;
  @include tablet {
    background-color: #95D9FF;
    border: none;
  }
  @include middlemobile {
    background-color: #ADFCC8;
  }
  &__title {
    font-size: 14px;
    font-weight: bold;
  }
  &__text {
    max-width: 960px;
    
  }
}
