<footer class="footer footer-page">
  <h2 class="footer__title">What is Lorem Ipsum?</h2>
  <p class="footer__text">
   Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It&nbsp;was popularised in&nbsp;the 1960s with the release of&nbsp;Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of&nbsp;Lorem Ipsum.
  </p>
</footer>