<header class="header header-page" id="header">
  <div class="header__container">
    <div class="header-burger js-burger">
      <span></span>
    </div>
    <ul class="header__icons icons-header__list">
      <li class="icons-header__item">
        <button class="btn btn-reset">
          <svg width="20" height="25" viewBox="0 0 20 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.13" d="M18.3637 10.8149C19.5942 11.6014 19.5941 13.3986 18.3637 14.1851L3.07716 23.9564C1.74589 24.8074 7.33641e-07 23.8513 8.02705e-07 22.2713L1.65694e-06 2.7287C1.726e-06 1.1487 1.7459 0.192597 3.07716 1.04356L18.3637 10.8149Z" fill="black"/>
          </svg>
        </button>
      </li>
      <li class="icons-header__item">
        <button class="btn btn-reset">
          <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.13" cx="11.5" cy="11.5" r="11.5" fill="black"/>
          </svg>
        </button>
      </li>
      <li class="icons-header__item">
        <button class="btn btn-reset">
          <svg class="square" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.13" width="21" height="21" rx="4" fill="black"/>
          </svg>
      </button>
      </li>
    </ul>
  </div>
</header>