<section class="hero" id="hero" data-section="hero">
  <div class="hero__container">
    <ul class="hero__list">
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/poveldurov-1.png" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-1.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-2.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-3.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-4.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-7.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-6.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-7.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-1.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-2.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-6.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-3.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-2.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-1.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-6.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/poveldurov-1.png" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-7.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-1.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-3.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
      <li class="hero__item">
        <div class="hero__image">
          <img src="/public/img/pd-4.jpg" alt="durev">
        </div>
        <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consequatur quam quae nobis exercitationem nostrum, quidem, rerum nulla eos obcaecati dolorem, ab rem possimus sunt culpa nisi facere voluptate ducimus?</p>
      </li>
    </ul>
  </div>
</section>

