<section class="menu menu-page js-menu">
  <div class="menu__box">
    <div class="menu__close js-close">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.15" fill-rule="evenodd" clip-rule="evenodd" d="M4.41417 0.657655C3.63312 -0.123393 2.36679 -0.123393 1.58574 0.657655L0.878633 1.36476C0.0975847 2.14581 0.0975844 3.41214 0.878633 4.19319L6.51827 9.83282L1.28319 15.0679C0.502137 15.849 0.502137 17.1153 1.28319 17.8963L1.99029 18.6034C2.77134 19.3845 4.03767 19.3845 4.81872 18.6034L10.0538 13.3684L15.0208 18.3353C15.8018 19.1164 17.0681 19.1164 17.8492 18.3353L18.5563 17.6282C19.3374 16.8472 19.3374 15.5808 18.5563 14.7998L13.5893 9.83282L18.9609 4.46131C19.7419 3.68026 19.7419 2.41393 18.9609 1.63288L18.2537 0.925772C17.4727 0.144723 16.2064 0.144723 15.4253 0.925771L10.0538 6.29729L4.41417 0.657655Z" fill="black"/>
      </svg>
    </div>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link active" href="">
          <span class="menu__circle">
            <img src="/public/img/pd-10.jpg" alt="durev">
          </span>
          <span class="menu__line"></span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">
          <span class="menu__circle">
            <img src="/public/img/pd-1.jpg" alt="durev">
          </span>
          <span class="menu__line max"></span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">
          <span class="menu__circle">
            <img src="/public/img/pd-2.jpg" alt="durev">
          </span>
          <span class="menu__line medium"></span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">
          <span class="menu__circle">
            <img src="/public/img/pd-3.jpg" alt="durev">
          </span>
          <span class="menu__line"></span>
        </a>
      </li>
      <li class="menu__item menu__item-dop">
        <a class="menu__link" href="">
          <span class="menu__circle">
            <img src="/public/img/pd-4.jpg" alt="durev">
          </span>
          <div>
            <span class="menu__line"></span>
            <span class="menu__line"></span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>